.landing{
    display: flex;
    justify-content: space-around;
    height: 100vh;

}
.distortion{
    width: 640px;
    height: 920px;
    align-self: flex-end;
}



.intro {
    align-self: center;
}

.intro h2{
    font-size: 50px;
}

.intro p{
    font-size: 18px;

}